.input {
  display: block;
  margin-bottom: 12px;
  width: 350px;
  height: 35px;
  border: none;
  background-color : #444942;

  &__new-playlist {
    height: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-radius: 0.2rem;
  }

  &::placeholder {
    color: #9a9c95;
    padding-left: 5px;
  }

  &:focus{
    outline: none;
    background-color: #a9a9a9;
  }
}