.login {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__decoration-container {
    margin: 5px 0;
  }

  &__login-button-container {
    margin-top: 20px;
  }

  &__link {
    margin-top: auto;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #0956AE;

    &:visited {
      color: #0956AE;
    }
  }

  &__error-message {
    font-size: 25px;
    text-transform: uppercase;
    color: #b42a2a;
    margin-top: 24px;
    font-weight: 600;
    letter-spacing: 1.4px;
  }
}