.button {
  display: inline-block;
  text-decoration: none;
  padding: 15px 80px;
  border-radius: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 180px;

  &:hover {
    cursor: pointer;
  }

  &--black {
    color: white;
    background-color: #111010;
    border: 1px solid white;
    width: 100%;
    margin-top: 1.1rem;
  }

  &--green {
    color: white;
    background-color: #0CAE73;
    border: none;
  }

  &--blue {
    color: white;
    background-color: #0956AE ;
    border: none;
    padding: 0 2rem;
  }
}
